.primary {
  background: rgb(20, 22, 25);
}
.altPrimary {
  background: rgb(44, 46, 58);
}
.primaryBorder {
  border: rgb(20, 22, 25);
}
.highlight {
  background: rgb(10, 33, 192);
}
.highlightBorder {
  border: rgb(10, 33, 192);
}
.altHighlight {
  background: rgb(5, 10, 68);
}
.secondary {
  background: rgb(179, 180, 189);
}
.background {
  background: rgb(240, 241, 250);
}
